/* OrderDetails.css */
.background3{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 40px;
}

.container2 {
    border: 1px solid #d3d3d3; /* Shadow gray border */
    padding: 30px; /* Optional padding for spacing */
     /* Position the container to the left side */
    margin-top: 70px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    border-radius: 4px; /* Rounded corners for a more polished look */
    max-width: 50%; /* Optional: Set a maximum width if needed */
    width:50% ;
  }
  
  .customer-details {
    margin-bottom: 20px; /* Add some spacing after customer details */
    align-items: center;
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    margin-right: 10px; /* Add some margin between buttons */
  }
  
  /* Optional: Disable button styles for consistency */
  .btn-primary[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  