/* Center the content */
.App {
    text-align: center;
}

/* Link styles */
.App-link {
    color: #61dafb;
}

.background {
    position: relative;
    width: 100%;
    height: auto;
}

.image {
    width: 100%;
    height: auto;
}

.form-overlay {
    position: absolute;
    top: 50px; /* Adjust top margin as needed */
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    text-align: left;
    height: auto;
}

/* Container styles */
.container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Form background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15); /* Add shadow */
    margin-right: auto; /* Add margin to the right */
    margin-left: 40px; /* Add margin to the left */
    z-index: 1; /* Ensure form is above the image */
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
}

.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

/* Form label styles */
.form-label {
    font-weight: bold;
    display: flex !important;
}

/* Form control styles */
.form-control,
.form-select {
    width: calc(100% - 16px); /* Subtract padding from width */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #00ffff;
}

/* Button styles */
.btn-primary {
    background-color: #19314e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Button hover styles */
.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-3px); /* Move up by 3 pixels */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

/* Textarea styles */
textarea {
    width: calc(100% - 16px); /* Subtract padding from width */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
